<!DOCTYPE html>
<html lang="{{'app.request.local'}}">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width , initial-scale=1,shrink-to-fit=no">
		<script src="https://cdn.tailwindcss.com"></script>

		<title>
			{% block title %}hello city
			{% endblock %}
		</title>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>"> {% block stylesheets %}{% endblock %}{% block javascripts %}{% endblock %}
		</head>
		<body class="flex flex-col justify-between items-center min-h-screen">
			<main role="main" class="my-6 flex flex-col items-center justify-center"> {% block body %}{% endblock %}

				</main>
				<footer class="my-6">
					<p class="text-gray-900">&copy; copyright
						{{'now'| date ('Y')}}
						&middot;
						<a href="about-us" class="text-indigo-500 hover:text-indigo-600 underline">About-us</a>
					</p>
				</footer>
			</body>
		</html>
